*{
    margin: 0;
    box-sizing: border-box
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
    height: 90vh;
    background-color:#D3A588 ;
  }

h1{
    font-size: 3rem;
    margin-bottom: 2%;
}
  
  #access{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .id{
    margin-top:2%;
    margin-bottom: 2%;
    border: 2px solid black;
    padding: 5%
  }
